################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Data_Structures/v17
/Lab 1/build/.vs/Lab 1/v17/ipch/AutoPCH
/.vs/Data_Structures
*.db-shm
*.db-wal
*.opendb
Lab_2/build/.vs/Lab_2/v17/.suo
*.db
*.sqlite
*.ipch
*.db
lab 3/ssuds/build/vs2022/.vs/ssuds/v17/Browse.VC.db
.vs/slnx.sqlite
lab 3/ssuds/build/vs2022/.vs/ssuds/project-colors.json
*.json
lab 3/ssuds/build/vs2022/.vs/ssuds/v17/.suo
